<ng-template #loadingTemplate>
    <span>Loading please wait</span>
</ng-template>
<ng-template #errorTemplate>
    <span>{{errorMessage}}</span>
</ng-template>
<ng-template #noDataTemplate>
    <span>Sorry..no record found</span>
</ng-template>
<div *ngIf="loadingComplete;else loadingTemplate">
    <div *ngIf="errorMessage==='';else errorTemplate">
        <div *ngIf="products; else noDataTemplate">
            <app-product-rows [productsData]="products" (deleted)="onDeletion($event)">
            </app-product-rows>
        </div>
    </div>
</div>